

// $theme-colors: (
//    "success"  : #D19361,
//    "dark" :#312937
// );


$success: #74a755;
$dark: #312937;
$primary: #d19361;
$danger: #f44336;
$warning: #f1971d;
$light: #B8B0A7;

@import "../../node_modules/bootstrap/scss/bootstrap";


