.my-banner {
    width: 100%;
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: navy;

}

li{
    margin: 15px;
}


.modal-pre-auth{
    display: block;
}

.modal-post-auth{
    display:none;
}

.btn-post-auth{
    display:none;
}

.btn-post-auth-admin{
    display:none;
}

.modal-post-auth-admin{
    display:none;
}

input {
    display: block;
    margin: 8px 0 ;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%
}

.my-error {
    color: red;
}

textarea{
    width: 100%;
    min-height: 150px;
    
}

.card-img-top{
    width:  250x;
    height: 250px;
    object-fit: cover;
}

.card-title{
    
    font-size:20px;
}

#form-add-product-image-tag{
    max-height: 200px;
    object-fit: cover;
}

#form-edit-product-image-tag{
    max-height: 200px;
    object-fit: cover;
}

.comment-author{
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  
}

.comment-time{
    font-size: 12px;
    
  }


.fa-star {
    color: black;
 }

 /* .fa-star::before {
    color: orange;
 } */

 
.rating {
   
}

/* .fa-star:hover~ .fa-star::before{
    color: black;
} */

.checked {
    color:orange;
}

.unchecked{
    color: black;
}

