




.banner{
    background: rgba(106,77,65,0.5);
    padding-left: 10%;
    width: 90%;
}

.banner-text{
    font-weight:800;
    font-size: 5rem;
    font-family: Tahoma, sans-serif;
    font-weight:bold;
    opacity: 1;
}

h1{
    color: #d19361;
}


.jumbotron {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cs5373-vinhh-web.appspot.com/o/ui_images%2Ftable-filled-with-Thanksgiving-food-and-dishes_b.jpg?alt=media&token=6bd99c5a-3acb-40c4-9c12-06492253c27f");
    background-size: cover;
  }

li{
    margin: 15px;
}


.modal-pre-auth{
    display: block;
}

.modal-post-auth{
    display:none;
}

.btn-post-auth{
    display:none;
}

.btn-post-auth-admin{
    display:none;
}

.modal-post-auth-admin{
    display:none;
}

input {
    display: block;
    margin: 8px 0 ;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%
}

.my-error {
    color: red;
}

textarea{
    width: 100%;
    min-height: 150px;
    
}

.card-img-top{
    width:  250x;
    height: 250px;
    object-fit: cover;
}

.card-title{
    
    font-size:20px;
}

.card-text{
    font-size:13px;
}


#form-add-product-image-tag{
    max-height: 200px;
    object-fit: cover;
}

#form-edit-product-image-tag{
    max-height: 200px;
    object-fit: cover;
}

.comment-author{
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  
}

.comment-time{
    font-size: 12px;
    
  }

.fa-star {
    color: black;
 }

.rating {
   
}

.checked {
    color:orange;
}

.unchecked{
    color: black;
}

